@page "/"
@inject IJSRuntime JsRuntime
<h1>Hello, world!</h1>

Welcome to your new app.
<ul>
    <li>Blazor JSInterop with ChartJs.</li>
    <li>Loads a Typed List into Data param.</li>
    <li>Calls the Chart.js Draw method.</li>
</ul>
<div id="line_top_x" style="width: 900px; height: 500px"></div>

@*<div id="curve_chart" style="width: 900px; height: 500px"></div>*@
@*<div id="piechart" style="width: 900px; height: 500px;"></div>*@
@*<div><canvas id="myChart"></canvas></div>*@
@*<div id="chart"></div>*@

@functions
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //var pChart = new Data.pChart();
        //var newData = pChart.getData;
        //var data = pChart.OnGetChartData();
        //var data = pChart.GetPlotData();
        //var data = pChart.GetChartData();
        //var data = pChart.GetLineChartData();
        //var data = pChart.GetListData;
        //var data = pChart.GetDataTable();OnGetChartData
        //var data = gChart.GetData();
        var gChart = new Data.GrowthChartData();
        var data = gChart.GetChartDataTable();
        await JsRuntime.InvokeAsync<Task>("drawChart", data);
    }
}