@page "/"
@inject IJSRuntime JsRuntime
<h1>Hello, world!</h1>

Welcome to your new app.
<ul>
    <li>Blazor JSInterop with ChartJs.</li>
    <li>Loads a Typed List into Data param.</li>
    <li>Calls the Chart.js Draw method.</li>
</ul>

<div id="curve_chart" style="width: 900px; height: 500px"></div>
<div id="piechart" style="width: 900px; height: 500px;"></div>

@*<div>
    <canvas id="myChart"></canvas>
</div>*@

@*<div id="chart"></div>*@

@functions
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var pChart = new Data.pChart();
        //var newData = pChart.getData;
        //var data = pChart.OnGetChartData;
        var data = pChart.OnGetChartData();
        //var data = pChart.GetPlotData();
        //var data = "{cols: [{id: 'topping',label: 'Topping',type: 'string'}, {id: 'slices',label: 'Slices',type: 'number'}],rows: [{c: [{v: 'Mushrooms'}, {v: 3}]}, {c: [{v: 'Onions'}, {v: 1}]}, {c: [{v: 'Olives'}, {v: 1}]}, {c: [{v: 'Zucchini'}, {v: 1}]}, {c: [{v: 'Pepperoni'}, {v: 2}]}]}";
        await JsRuntime.InvokeAsync<Task>("drawChart", data);
    }
}