@page "/"
@using Blazor.Charts.ChartJs.Components

<h1>Hello, Chart.js!</h1>

<p>This Blazor demonstration project was created using Visual Studio 2019 16.8.3, .NET 5, &amp; Chart.js 2.9.4.</p>

<p>Chart.js is a simple yet flexible JavaScript <a href="https://www.chartjs.org/">charting</a> for designers & developers.</p> 

<p>The objective is to invoke ChartJS from a Blazor Server app.</p>
